body {
    margin: 10px;
}

/*h2 {*/
/*    background-color: red;*/
/*}*/

/*p {*/
/*    background-color: yellow;*/
/*}*/

/*a {*/
/*    background-color: green;*/
/*}*/

/*ol {*/
/*    background-color: pink;*/
/*}*/

/*li {*/
/*    background-color: teal;*/
/*}*/

/*strong {*/
/*    background-color: purple;*/
/*}*/

a:visited, a:link {
    color: dodgerblue;
}

a:hover, a:focus {
    color: orangered;
}